<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/productsStyle/productsStyle.css" />

    <!-- Favicon -->
    <link
      id="favicon"
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 64 64%22><text x=%2232%22 y=%2242%22 font-size=%2248%22 text-anchor=%22middle%22 dominant-baseline=%22middle%22>🍑</text></svg>"
    />

    <title>Frootie Products</title>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <main class="wrapper Products">
      <section class="Products__header">
        <h1 class="Products__title">Products</h1>
        <a href="/products/new" class="Products__add-product-link"
          ><button class="Products__return-button">Add a product</button></a
        >
      </section>

      <section class="Products__main">
        <form action="/products/filter" method="GET" class="Products__filters">
          <div class="Products__filter-group">
            <p class="Products__filter-title">Sort by price:</p>

            <div class="Products__filter">
              <div>
                <input type="radio" name="filter" value="priceAscending" <%=
                filter === "priceAscending" ? "checked" : "" %>/>
                <label> Ascending </label>
              </div>

              <div>
                <input type="radio" name="filter" value="priceDescending" <%=
                filter === "priceDescending" ? "checked" : "" %>/>
                <label> Descending </label>
              </div>
            </div>
          </div>

          <div class="Products__filter-group">
            <p class="Products__filter-title">Sort by name:</p>
            <div class="Products__filter">
              <div>
                <input type="radio" name="filter" value="nameAscending" <%=
                filter === "nameAscending" ? "checked" : "" %>/>
                <label> Ascending </label>
              </div>

              <div>
                <input type="radio" name="filter" value="nameDescending" <%=
                filter === "nameDescending" ? "checked" : "" %>/>
                <label> Descending </label>
              </div>
            </div>
          </div>

          <div class="Products__filter-group">
            <p class="Products__filter-title">Filter by category:</p>

            <div class="Products__filter-categories">
              <% categoriesLinks.forEach(function (categoryObject) { %>
              <div class="Products__filter-category">
                <input type="checkbox" name="categories" value="<%=
                categoryObject.name%>"
                <%=selectedCategories.includes(categoryObject.name) ? "checked"
                : "" %> />
                <label
                  class="Products__filter-category-label"
                  style="background-color: <%= categoryObject.color %>"
                >
                  <%= categoryObject.name %>
                </label>
              </div>
              <% }) %>
            </div>
          </div>

          <button type="submit" class="Products__apply-filter-button">
            Apply by filters
          </button>
        </form>

        <div class="Products__products-container">
          <% if (products.length > 0) { %> <% products.forEach(function
          (productObject) { %>

          <a
            href="/products/product/<%=productObject.id%>"
            class="Products__product"
          >
            <p class="Products__product-emoji Products__product-item">
              <%= productObject.emoji %>
            </p>
            <p class="Products__product-name Products__product-item">
              <%= productObject.name %>
            </p>
            <p class="Products__product-price Products__product-item">
              $<%= productObject.price %>
            </p>
            <p class="Products__product-quantity Products__product-item">
              Quantity: <%= productObject.quantity %>
            </p>
            <p
              class="Products__product-category Products__product-item"
              style="background-color: <%= productObject.color %>"
            >
              <%= productObject.category %>
            </p>
          </a>

          <% }) %> <% } else { %>
          <p>
            We looked everywhere… shelves, drawers, under the couch… nothing
            found.
          </p>
          <% } %>
        </div>
      </section>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
